# KDV Аккаунт
KDV_EMAIL=your_email@example.com
KDV_PASSWORD=your_password

# Пути к файлам
EXCEL_INPUT_PATH=C:/TEMP/read.xlsx
EXCEL_OUTPUT_PATH=C:/TEMP/read_new.xlsx

# Настройки драйвера
HEADLESS_MODE=False
MAX_PRODUCTS_TO_PROCESS=5